<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911784672095-g6i0jqpqfevtpej75ammfd8hig4u2ifq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911784672095-g6i0jqpqfevtpej75ammfd8hig4u2ifq</string>
	<key>API_KEY</key>
	<string>AIzaSyAs-TB7RCGI95mDktHzh80ssADneUaR1Hc</string>
	<key>GCM_SENDER_ID</key>
	<string>911784672095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sisterly.sisterly</string>
	<key>PROJECT_ID</key>
	<string>sisterly-840df</string>
	<key>STORAGE_BUCKET</key>
	<string>sisterly-840df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911784672095:ios:3caa5b40af40f1857fd4ea</string>
</dict>
</plist>